<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to App Places_Remember</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{% static 'travels_notebook/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'travels_notebook/css/home.css' %}">
</head>
<body class="background_base">
{% block grid %}
    {% block header %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand logotype" href="#">PLace_RemembeR</a>
            </nav>
        </header>
    {% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% include 'travels_notebook/html/footer.html' %}{% endblock footer %}
{% endblock grid %}
</body>
</html>

