<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to App Places_Remember</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{% static 'travels_notebook/css/login.css' %}">
</head>
<body class="background_base">
{% block grid %}
    {% block header %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">PLace_RemembeR</a>
            </nav>
        </header>
    {% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% include 'travels_notebook/html/footer.html' %}{% endblock footer %}
{% endblock grid %}
</body>
</html>

