{% extends 'travels_notebook/html/base.html' %}
{% load socialaccount %}
{% block content %}
    <div class="div_login_facebook_vk"><h4 class="h4_sign">SIGN WHITH:</h4></div>
    <p class="desc_login">A web application with which people can store <br>their impressions of visited places</p>
    <div class="div_social">
        <a href="{% provider_login_url 'facebook' method='js_sdk' %}"
           class="btn-floating btn-lg btn-fb"
           type="button" role="button"><i class="fab fa-facebook-f fb_icon"></i></a>
        <a href="{% provider_login_url 'vk' method='oauth2' %}" class="btn-floating btn-lg btn-vk"
           type="button" role="button"><i class="fab fa-vk vk_icon"></i></a>
    </div>

    </div>
{% endblock content %}